.up{
    
}
.btn-1{
    background-color: rgb(50, 50, 50);
    width: 40px;
    height: 30px;
    margin-bottom: 2px;
    margin-left: 500px;
} 
.btn-2{
    background-color: rgb(50, 50, 50);
    width: 40px;
    height: 30px;
    
}
.btn-3{
    background-color: rgb(50, 50, 50);
    width: 40px;
    height: 30px;
    
}
.btn-4{
    background-color: rgb(50, 50, 50);
    width: 40px;
    height: 30px;
    margin-right: 3px;
    margin-bottom: 2px;
    margin-left: 500px;
}
.btn-5{
    background-color: rgb(50, 50, 50);
    width: 40px;
    height: 30px;
}
.btn-6{
    background-color: rgb(50, 50, 50);
    width: 40px;
    height: 30px;
}
.btn-7{
    background-color: rgb(50, 50, 50);
    width: 40px;
    height: 30px;
    margin-bottom: 2px;
    margin-left: 500px;
}
.btn-8{
    background-color: rgb(50, 50, 50);
    width: 40px;
    height: 30px;
}
.btn-9{
    background-color: rgb(50, 50, 50);
    width: 40px;
    height: 30px;
}
.btn-0{
    background-color: rgb(50, 50, 50);
    width: 40px;
    height: 30px;
}
.btn-corrige{
    background-color: rgb(250, 96, 0);
    width: 100px;
    height: 30px;
    margin-left: 440px;
}
.btn-confirma{
    background-color: rgb(0, 255, 21);
    width: 100px;
    height: 30px;
}