.all{
    background-color: rgb(255, 255, 255);
}
.don{
    width: 70%;
    height: 100px;
    background-color: rgb(6, 73, 6);
    margin-left: 15%;
    margin-right: 15%;
}
.di{
    margin-left: 700px;
    margin-top: 50px;
}
.de{
    margin-bottom: 35px;
}
.uol{
    height: 100px;
    width: 100px;
    color: black;
}
.up{
margin-top: 100px;    
}
.btn-l{
    width: 170px;
    height: 200px;
    background-color: black; 
}
.btn-1{
    background-color: rgb(50, 50, 50);
    width: 50px;
    height: 40px;
    margin-bottom: 2px;
    margin-left: 500px;
} 
.btn-2{
    background-color: rgb(50, 50, 50);
    width: 50px;
    height: 40px;
    
}
.btn-3{
    background-color: rgb(50, 50, 50);
    width: 50px;
    height: 40px;
    
}
.btn-4{
    background-color: rgb(50, 50, 50);
    width: 50px;
    height: 40px;
    margin-right: 3px;
    margin-bottom: 2px;
    margin-left: 500px;
}
.btn-5{
    background-color: rgb(50, 50, 50);
    width: 50px;
    height: 40px;
}
.btn-6{
    background-color: rgb(50, 50, 50);
    width: 50px;
    height: 40px;
}
.btn-7{
    background-color: rgb(50, 50, 50);
    width: 50px;
    height: 40px;
    margin-bottom: 2px;
    margin-left: 500px;
}
.btn-8{
    background-color: rgb(50, 50, 50);
    width: 50px;
    height: 40px;
}
.btn-9{
    background-color: rgb(50, 50, 50);
    width: 50px;
    height: 40px;
}
.btn-0{
    background-color: rgb(50, 50, 50);
    width: 50px;
    height: 40px;
}
.btn-corrige{
    background-color: rgb(250, 96, 0);
    width: 100px;
    height: 40px;
    margin-left: 450px;
}
.btn-confirma{
    background-color: rgb(0, 255, 21);
    width: 100px;
    height: 40px;
}